
body{
    margin: 100px;
}
.box{
    border: 3px solid;
    font-size: 4em;
    width: 150px;
    height: 150px;
}
#box1{
    background-color: hsl(29, 100%, 50%);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}
#box2{
    background-color: hsl(180, 100%, 50%);
    margin: auto;

}
#box3{
    background-color: hsl(117, 100%, 50%);
    margin-left: auto;

}
p{
    background-color: hsl(211, 100%, 50%);
    margin: 20px;

}

