@font-face {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    src: url(fonts/AlumniSansSC-Light.ttf);
}
@font-face {
    font-family: Roboto-Light;
    src: url(fonts/RobotoMono-SemiBold.ttf);
}
h1{
    font-family: "Edu VIC WA NT Hand", cursive,'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-family: "Savate", sans-serif,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    
}

