
h1{
    font-family: "Edu VIC WA NT Hand", cursive;
}
p{
    font-family: "Savate", sans-serif;
    font-optical-sizing: auto;
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
    
}






