body{
    background-color: rgb(3, 165, 187);
}
h1{
    color: white;
}
#p1{
    color: red;
}
#p2{
    color: greenyellow;
}
#p3{
    color: yellowgreen;
}
#p4{
    color: orange;
}










